
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


/* font-family: 'Audiowide', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Blaka Hollow', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive; */

@font-face {
    font-family: 'primary';
    src: url(../fonts/BPdotsUnicase.otf),url(../fonts/BPdotsUnicaseBold.otf),url(../fonts/BPdotsUnicaseLight.otf);
}
@font-face {
    font-family: 'semi-title';
    src: url(../fonts/Capture\ it.ttf);
}
@font-face {
  font-family: 'smile';
  src: url(../fonts/PetiteSmile-51JrZ.ttf);
}
@font-face {
    font-family: 'origin';
    src: url(../fonts/OriginTech\ personal\ use.ttf);
  }
@font-face {
    font-family: 'digital';
    src: url(../fonts/Digital\ Play\ St.ttf);
}
@font-face {
    font-family: 'jogan';
    src: url(../fonts/JoganSoft-Regular.ttf);
}

::-webkit-scrollbar
{
    width: 5px;
}
::-webkit-scrollbar-track
{
    background-color: teal;
}
::-webkit-scrollbar-thumb
{
    background-color: aquamarine;
    border-radius: 10px;
}
/* .loader{
    /* width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure; */
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden
{
    opacity: 0;
    visibility: hidden;
}
.loader::after
{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid teal;
    border-top-color: gray;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
} */ 
/* .text
{
    color: aquamarine;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;

}
.loading
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
*{
    margin: 0;
}
/* .loader
{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 200;
    box-sizing: border-box;
    
} */
.card-avatar
{
    /* background-color: teal; */
    background-image: url("https://i.ibb.co/GR1XDj3/1.png");
    height: 50px;
    width: 50px;
}
.cse
{
    font-family: 'primary',sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 80px;
}
header{
    width: 100%;
}
.navicon{
    text-align: center;
    /* width: 100%; */
}
.navicon>img{
    height: 400px;
    width: 550px;
}
h1,h2{
    text-align: center;
}
h1,h4{
    color: aliceblue;
    text-shadow: 0 0 20px black;
}
h1{
    font-family: 'jogan',sans-serif;
    /* font-family: 'Black Ops One', cursive; */
    /* font-weight: 450; */
    /* font-family: 'Noto Serif', serif; */
    /* font-size: 20px; */
    line-height: 30px;
}
h2{
    font-family: semi-title;
    letter-spacing: 5px;
}
.bflex{
    display: flex;
    margin-top: 15px;
    opacity: 0.5;
}
.bflex h5
{
    font-size: 15px;;
}
.blood img{
    height: 20px;
    width: 20px;
}
.blood{
    
    padding-right: 10px;
    border-right: 1px gainsboro solid;
    
}
footer{
  background-image: url(../img/Circuit\ Board\ \(1\).svg);
  margin: 30px 0 0 0;
  width: 100%;
  -webkit-box-shadow: inset 9px 12px 53px 1px rgba(0,0,0,0.48);
-moz-box-shadow: inset 9px 12px 53px 1px rgba(0,0,0,0.48);
box-shadow: inset 9px 12px 53px 1px rgba(0,0,0,0.48);
    border-radius: 10px;
}  
/* footer h3{
    padding: 20px 0px;
    text-align: center;
    color: aliceblue;
    font-size: 1.5em;
    text-shadow: 1px 1px 20px black;
} */
.footer{
  display: flex;
  padding: 20px 40px;
  justify-content: space-around;
  font-size: 30px;
}

.outline{
  color: white;
  outline-style: solid;
  padding: 10px;
  border-radius: 8px;
}

@media only screen and (max-width:588px)
{
    .footer{
        padding: 20px 0px;
      }
}
